html, body {
margin: 0;
}
h1 {
    font-family: 'Courier New', Courier, monospace;
    font-weight: normal;
    font-size: 28px;
    text-align: center;
    padding-top: 30px;
}

h2 {
    font-family: 'Courier New', Courier, monospace;
    font-weight: 200;
    font-size: 3vw;
    text-align: center;
}

p{
    font-family: 'Courier New';
    font-size: 16px;
    text-align: center;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: -15px;

}
.flex-pill{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#wrapper {
    position: relative;
    min-height: 100vh;
    width: 100vw;
}

#pills {
    background-color:bisque;
}

#omega3 {
    background-color: #FFD058;
    position: absolute;
    left: 10vw;
    bottom: 25px;
    width: 20vw;
    height: 40vw;
    border-radius: 50%;
    transform: rotate(5deg);
}
#B6 {
    background-color: #FFB3C8;
    margin:1px;
    position: absolute;
    left: 30vw;
    bottom: 30px;
    width: 20vw;
    height: 20vw;
    border-radius: 50%;
}
#probiotics {
    background-color: #C4CBFF;
    position: absolute;
    left: 38vw;
    bottom: 30vh;
    width: 35vw;
    height: 10vw;
    border-radius: 35%;
    transform: rotate(70deg);
}
#vitaminc {
    background-color: #FFA156;
    position: absolute;
    left: 59vw;
    bottom: 23vw;
    width: 12vw;
    height: 12vw;
    border-radius: 50%;
    transform: rotate(-10deg);
}

#biotin {
    background-color: #edf5df;
    position: absolute;
    left: 70vw;
    bottom: 5vh;
    width: 15vw;
    height: 35vw;
    border-radius: 40%;
    transform: rotate(28deg);

}
.vitaminc {
    font-size: 100%;
    padding-top: 20px;
}

#omega3-pagetop {
    background-color: #FFD058;
    position: absolute;
    left: 40vw;
    top: 10px;
    width: 20vw;
    height: 10vw;
    border-radius: 50%;
}
#b6-pagetop {
    background-color: #FFB3C8;
    position: absolute;
    left: 45vw;
    top: 10px;
    width: 10vw;
    height: 10vw;
    border-radius: 50%;
}
#probiotics-pagetop {
    background-color: #C4CBFF;
    position: absolute;
    left: 32.5vw;
    top: 10px;
    width: 35vw;
    height: 10vw;
    border-radius: 30%;
}
#vitaminc-pagetop {
    background-color: #FFA156;
    position: absolute;
    left: 46vw;
    top: 10px;
    width: 10vw;
    height: 10vw;
    border-radius: 50%;
}
#biotin-pagetop {
    background-color: #edf5df;
    position: absolute;
    left: 36vw;
    top: 10px;
    width: 28vw;
    height: 10vw;
    border-radius: 40%;
}
#back-to-home{
    font-family:'Courier New', Courier, monospace;
    position: absolute;
    top: 25vh;
    width: 100vw;
    text-align: center;
}

a:link {
    color: black;
    text-decoration: none;
}
  
a:hover {
color: grey;
}

table {
    position: absolute;
    top: 40vh;
    margin-left: 22vw;
}
table th {
    width: 22vw;
    background-color:#bbbbbb;
    text-align: left;
    font-family: 'Courier New', Courier, monospace;
}

table td {
    font-family: 'Courier New', Courier, monospace;
    width: 60vh;
    border: 0.5px solid black;
}

input {
    position: relative; 
    margin-bottom: -20px;
}

.redirect {
    position: fixed;
    left: 1%;
    bottom: 2%;
  }