body{
    font-family:'Courier New', Courier, monospace;
}

h1 {
    font-size: 40px;
}

p {
    margin-top: -15px;
    font-size: 20px;
}

.title {
    text-align: center;
}

#qr-code {
    width: 300px;
    height: 300px;
    margin-top: 5vh;
}
img {
    width: 100%;
    height: 100%;
}

#instructions {
    margin-bottom: 5vh;
    font-size: 20px;
}

#my-iframe {
    width: 450px;
    height: 315px;
}

#form-link {
    margin-top: 3vh;
}