#main-image {
    width: 95vw;
    height: 95vh;
    margin-left: 2.5vw;
    margin-bottom: 2.5vw;
    background-image: url("background.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    position: absolute;

}

.centered {
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
}